<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <title>Registrar Estudiante</title>
</head>
<body>
    <h2>Ingresa Datos del Estudiante</h2>

    <form action="ingresarEstudiante.html" method="post">
        RUT: <input type="text" name="rut" required><br><br>
        NOMBRES:<input type="text" name="nombres" required><br><br>
        APELLIDOS:<input type="text" name="apellidos" required><br><br>
        FECHA DE NACIMIENTO:<input type="date" name="fechaNacimiento" required><br><br>
        TIPO COLEGIO PROCEDENCIA:
        <select name="tipoColegio">
            <option value="Seleccione el Tipo de Colegio...">Selecione el tipo de colegio....</option>
            <option value="Municipal">Municipal</option>
            <option value="Subvencionado">Subvencionado</option>
            <option value="Privado">Privado</option>
        </select><br><br>
        NOMBRE COLEGIO: <input type="text" name="nombreColegio" required><br><br>
        AÑO EGRESO COLEGIO: <input type="text" name="añoEgreso" required><br><br>
        <button type="submit">Registrar Estudiantes</button>
    </form>
<ul>
    <li><a href="index.html">Volver Inicio</a></li>
</ul>

</body>
</html>