<!DOCTYPE html>
<html>
<head>
    <title>Generar Cuotas de Pago</title>
</head>
<body>

<h2>Generar Cuotas de Pago</h2>
<form action="/pagos/generarCuotas" method="post">
    RUT Estudiante: <input type="text" name="rut"><br><br>
    Número de Cuotas: <input type="number" name="numeroDeCuotas"><br><br>
    Monto Total: <input type="number" name="montoTotal" value="1570000" readonly><br><br>
    Tipo de Colegio:
    <select name="tipoColegio">
        <option value="MUNICIPAL">Municipal</option>
        <option value="SUBVENCIONADO">Subvencionado</option>
        <option value="PRIVADO">Privado</option>
    </select><br><br>
    Año de Egreso: <input type="number" name="anoEgreso"><br><br>
    <input type="submit" value="Generar Cuotas">
</form>

</body>
</html>
